nav {
  display: flex;
  margin: 0px;
  padding: 0 30px;
  align-items: center;
  justify-content: space-between;
}
#logo{
  width: 100px;
  height: 100px;
}

#title {
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    width: 25%;
}